figure {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

figcaption {
    margin: 6px 0 10px;
    font-weight: bold;
}

p {
    margin: 0 8px;
    line-height: 25px;
}

h2, ul, ol{
    margin-left: 15px;
}

.highlight {
    background-color: yellow;
}

ul li {
    margin-bottom: 8px;
}

ol li {
    margin-bottom: 8px;
    line-height: 25px;
}

#end-para {
    font-weight: 700;
    text-align: center;
    color: rgb(195, 0, 255);
    font-size: 20px;
    margin-bottom: 35px;
}